{%  extends "paginas/main.html"  %}

<!-- extension de la pagina main donde se encuentra el navbar -->

<!-- bloque de contenido para heredar lo que se encuentra dentro del block es propio de catalogo.html-->
{% block container  %}
<h1> catalogo de categorias </h1>

<p> aqui deberian mostrarse los catalogos </p>
<p>listado de platos<a href="{% url 'platos' %}"> aqui</a></p>

<h3> lista de categorias </h3>
<br>    
    {% for categoria in arreglo %}
        <section>
        <!--aqui se redirije al template platos.html usando el nombre de la categoria como parametro de entrada-->
        <h5> <a href="{% url 'categorias' categoria.nom_categoria %}" > {{categoria.nom_categoria}} </a></h5>
        <img src="/media/{{categoria.foto_categoria}}" alt="imagen de la categoria" width="100" height="100"/>

        <p>{{categoria.des_categoria}}</p>
        </section>
        <br>
        
    {% endfor %}
    

{% endblock %}

