{%  extends "paginas/main.html"  %}
<!-- extension de la pagina main donde se encuentra el navbar -->

<!-- bloque de contenido para heredar lo que se encuentra dentro del block es propio de catalogo.html-->
addsafa
{% block container %}
<h1> lista de platos </h1>

{% for plato in platos %}
    <h5> {{ plato.id_categoria.nom_categoria }} </h5>
    <h2> {{ plato.nom_plato }} </h2>
    <img src="/media/{{ plato.foto_plato }}" alt="imagen del plato" width="300"/>
    <p> {{ plato.desc_plato}} </p>
    <h5> ${{ plato.precio_plato|floatformat }} </h5>
    <br>
{% endfor %}


{% endblock %}