<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="{% url 'homeCliente' %}">AlimentoSantiago</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                
            
                
            
            {% if user.is_authenticated %} 
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'perfilCliente' %}">Perfil</a></li>
                
                <li class="nav-item"><a class="nav-link" href="#!">Pedidos</a></li>   
                <li class="nav-item"><a class="nav-link" href="{% url 'logoutCliente' %}">Logout</a></li>
            {% else %}
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'loginProveedor' %}">Proveedor</a></li>

                <li class="nav-item"><a class="nav-link" href="{% url 'registrarCliente' %}">Registrarse</a></li>
                
                <li class="nav-item"><a class="nav-link" href="{% url 'loginCliente' %}">Login</a></li>

            {% endif %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Catalogo</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'categorias' %}">Categorias</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="{% url 'platos-ofertas' %}">Ofertas</a></li>
                        <li><a class="dropdown-item" href="{% url 'platos' %}">Mostrar todo</a></li>
                    </ul>
                </li>
            </ul>

            
            {% if user.is_authenticated %}<!-- boton - para logout -->
            
            <a href="{% url 'logoutCliente' %}" id="register-btn" style="margin-right: 10px;" type="button" class="btn btn-dark">
                Cerrar sesion
            </a><!-- fin boton - para logout -->
            
            {% else %}
            <div class="dropdown" style="padding-left: 10px; float: right; border-radius: 25px; margin-right: 10px;">
                <button id="register-btn"  type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                    Iniciar sesion
                </button>
                <div id="dpcolor"class="dropdown-menu dropdown-menu-sm-end ">

                    <form method="POST" action="{% url 'loginCliente' %}" class="px-4 py-3">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="exampleDropdownFormEmail1" class="form-label">Nombre de usuario</label>
                            <input name="usernameCliente" type="text" class="form-control" id="exampleDropdownFormEmail1" placeholder="Usuario">
                        </div>
                        <div class="mb-3">
                            <label for="exampleDropdownFormPassword1" class="form-label">Contraseña</label>
                            <input name="passwordCliente" type="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Contraseña">
                        </div>
                        <div class="mb-3">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="dropdownCheck">
                                <label class="form-check-label" for="dropdownCheck">
                                    Recordar
                                </label>
                            </div>
                        </div>
                        <button id="btn-oscuro" type="submit" class="btn btn-danger">Ingresar</button>
                    </form>

                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'registrarCliente' %}">¿Primera vez por aca? Registrate</a>
                    <a class="dropdown-item" href="#">¿Olvidaste la contraseña?</a>
                </div>
            </div><!--fin Dropdown - para login -->
            
            
            {% endif %}
           

            
            <form class="d-flex"><!-- Carrito de compras -->
                <button class="btn btn-outline-dark" type="submit">
                    <i class="bi-cart-fill me-1"></i>
                    Cart
                    <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                </button>
            </form><!--fin Carrito de compras -->
            
        </div>
    </div>
</nav>