{% extends "cliente/base.html" %}
{% load static %}

{% block content %}
 <header class="bg-danger py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            {% if user.is_authenticated %}
            <h1 class="display-4 fw-bolder">Bienvenido {{user}}</h1>
            {% else %}
            <h1 class="display-4 fw-bolder">Bienvenido</h1>
            {% endif %}
            <p class="lead fw-normal text-white-50 mb-0">¿Se antoja algo?</p>
        </div>
    </div>
</header>

{% include 'ecommerce/catalogos.html' %}


<br><br><br><br><br><br><br><br><br><br>
{% endblock%}


    
