{% extends "cliente/base.html" %}
{% load static %}

{% block content %}
 <header class="bg-danger py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            {% if user.is_authenticated %}
            <h1 class="display-4 fw-bolder">Bienvenido {{user.first_name}} {{user.last_name}}</h1>
            {% else %}
            <h1 class="display-4 fw-bolder">Bienvenido</h1>
            {% endif %}
            <p class="lead fw-normal text-white-50 mb-0">¿Se antoja algo?</p>
        </div>
    </div>
</header>

<div class="container mt-4">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header bg-dark text-white">
                    <h5 class="card-title">Perfil</h5>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="nombre">Saldo actual:</label>
                        <p style="display: inline-block; margin-left: 10px;">${{ user.cliente.saldo_cliente|floatformat }}</p>
                    </div>
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="nombre">Nombre completo:</label>
                            <input type="text" id="nombre" name="nombre" class="form-control" value="{{ user.cliente.nombre_cliente }} {{ user.cliente.apellido_cliente }}" placeholder="{{ user.cliente.nombre_cliente }} {{ user.cliente.apellido_cliente }}" readonly>
                        </div>
                        <div class="form-group">
                            <label for="email">Correo Electrónico:</label>
                            <input type="email" id="email" name="email" class="form-control" value="{{ cliente.user.email }}" readonly>
                        </div>
                        <br>
                        <!-- Add more fields as necessary -->
                        <button type="submit" class="btn btn-secondary">Guardar Cambios</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-success text-white">
                    <h5 class="card-title">Pedidos</h5>
                </div>
                <div class="card-body">
                    <!-- Display pedidos related information -->
                    <p>Total de Pedidos: {{ pedidos.count }}</p>
                    <p>Pedidos Activos: </p><!-- { pedidos.filter(activo=True).count }}-->
                    <a href="% url 'cliente_pedidos' %}" class="btn btn-secondary">Ver Pedidos</a>
                </div>
            </div>
        </div>
    </div>
</div>



<br><br><br><br><br><br><br><br><br><br>
{% endblock%}


    
