{% extends "cliente/base.html" %}
{% load static %}

{% block content %}

<header class="bg-danger py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Resgistrarse</h1>
            <p class="lead fw-normal text-white-50 mb-0">¿Eres nuevo? resgistrate y disfruta de lo bueno</p>
        </div>
        </div>
    </header>

    <section class="py-3">
    <div class="row gx-4 gx-lg-6 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
    <form method="POST" action="{% url 'registrarCliente' %}">
        {% csrf_token %}
        <h2 style="text-align: center">Datos personales</h2>
        <form method="post">
            {% csrf_token %}
            <fieldset>
                <legend>Datos Personales</legend>
                {{ form.nombre_cliente.label_tag }}
                {{ form.nombre_cliente }}
                {{ form.apellido_cliente.label_tag }}
                {{ form.apellido_cliente }}
                {{ form.rut_cliente.label_tag }}
                {{ form.rut_cliente }}
                {{ form.fono_cliente.label_tag }}
                {{ form.fono_cliente }}
                {{ form.empresa.label_tag }}
                {{ form.empresa }}
                {{ form.direccion_cliente.label_tag }}
                {{ form.direccion_cliente }}
            </fieldset>
            <fieldset>
                <legend>Datos de Inicio de Sesión</legend>
                {{ form.username.label_tag }}
                {{ form.username }}
                {{ form.email.label_tag }}
                {{ form.email }}
                {{ form.password1.label_tag }}
                {{ form.password1 }}
                {{ form.password2.label_tag }}
                {{ form.password2 }}
            </fieldset>
            <button type="submit">Registrarse</button>
        </form>
</div>
</section>
{% endblock %}

{% block extra_head %}
<style>
    
</style>
{% endblock %}
