{% extends "cliente/base.html" %}
{% load static %}

{% block content %}

<header class="bg-danger py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Resgistrarse</h1>
            <p class="lead fw-normal text-white-50 mb-0">¿Eres nuevo? resgistrate y disfruta de lo bueno</p>
        </div>
        </div>
    </header>

    <section class="py-3">
    <div class="row gx-4 gx-lg-6 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
    <form method="POST" action="{% url 'registrarCliente' %}">
        {% csrf_token %}
        <form method="post">
            {% csrf_token %}
            <fieldset>
                <legend style="text-align: center">Datos Personales</legend>
                <div class="mb-2">
                    {{ form.nombre_cliente.label_tag }}
                    {{ form.nombre_cliente }}
                </div>
                <div class="mb-2">
                    {{ form.apellido_cliente.label_tag }}
                    {{ form.apellido_cliente }}
                </div>
                <div class="mb-2">
                    {{ form.rut_cliente.label_tag }}
                    {{ form.rut_cliente }}
                </div>
                <div class="mb-2">
                {{ form.fono_cliente.label_tag }}
                {{ form.fono_cliente }}
                </div>
                <div class="mb-2">
                {{ form.empresa.label_tag }}                
                {{ form.empresa }}
                </div>
                <div class="mb-2">
                {{ form.direccion_cliente.label_tag }}
                {{ form.direccion_cliente }}
                </div>
            </fieldset>
            <hr>
            <fieldset>
                <legend style="text-align: center">Datos de Inicio de Sesión</legend>
                <div class="mb-2">
                {{ form.username.label_tag }}
                {{ form.username }}
                </div>
                <div class="mb-2">
                {{ form.email.label_tag }}
                {{ form.email }}
                </div>
                <div class="mb-2">
                {{ form.password1.label_tag }}
                {{ form.password1 }}
                </div>
                <div class="mb-2">
                {{ form.password2.label_tag }}
                {{ form.password2 }}
                </div>
            </fieldset>
            <br>
            <div class="mb-3 text-center">
                <button type="submit" class="btn btn-danger">Ingresar</button>
            </div>
        </form>
</div>
</section>
{% endblock %}

{% block extra_head %}
<style>
    
</style>
{% endblock %}
