{%  extends "usuarios/main.html"  %}

{% block container %}

    {% if banderaOferta %}
    <h1>Ofertas</h1>
    {% else %}
    <h1>Platos</h1>
    {% endif %}

    <div class="row row-cols-1 row-cols-md-4 g-4">
    {% for plato in platos %}
    <div class="col">
        <div class="card" style="display: flex; flex-direction: column; justify-content: space-between; border: 1px solid #ccc; padding: 10px; width: 100%; box-sizing: border-box; height: 100%;"> 
        
            <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 10px;">
                <h5 style="margin: 0;"> {{ plato.id_categoria.nom_categoria }} </h5>

                <h6 style="margin: 0;"> {{ plato.id_proveedor.nombre_proveedor }} </h6>
            </div>
            <img src="/media/{{ plato.foto_plato }}" alt="imagen del plato" width="200" height="auto" class="card-img-top" style="object-fit: cover;"/>

            <h2> {{ plato.nom_plato }} </h2>

            <p> {{ plato.descripcion_plato}} </p>
            
            <div style="margin-top: auto; display: inline-block;">
            {% if banderaOferta %}
                <h6 style="color: gray;"><s>${{ plato.precio_plato|floatformat }}</s></h6>
                <h5>${{ plato.oferta_plato|floatformat}}</h5>
            {% else %}

            <h5> ${{ plato.precio_plato|floatformat }} </h5>

            {% endif %}

            </div>
        </div>
        
    </div>
    {% endfor %}

    </div>

{% endblock %}