{%  extends "usuarios/main.html"  %}

{% block container %}

    <h1>Publicaciones</h1>

    {% for publicacion in publicaciones %}

        <h5> {{ publicacion.id_categoria.nom_categoria }} </h5>
        <h2> {{ publicacion.nom_publicacion }} </h2>
        <img src="/media/{{ publicacion.foto_publicacion }}" alt="imagen de la publicacion" width="300"/>

        <p> {{ publicacion.descripcion_publicacion}} </p>
         
        <div >
        <h5> ${{ publicacion.precio_publicacion|floatformat }} </h5>
        </div>
        <br>

    {% endfor %}

    

{% endblock %}