<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CATALOGO DE MENUS</title>
</head>
<body>

    <h1>Menu comidas</h1>
    <br>
    <h3> Aqui se van a desplegar los menus de los platos como catalogo </h3>
    
    <p><a href="http://localhost:8080/menucomidas/templates/menucomidas/crear.html">Crear nuevo plato</a></p>
   
    
    <br>

    

</body>
</html>