{% extends "cliente/base.html" %}
{% load static %}

{% block content %}
 <header class="bg-primary py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Login</h1>
            <p class="lead fw-normal text-white-50 mb-0">Inicia sesion como proveedor</p>
        </div>
    </div>
</header>
<section class="py-5">
    <div class="row gx-4 gx-lg-6 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
        <form method="POST" action="{% url 'loginCliente' %}">
            {% csrf_token %}
            <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Correo electronico</label>

            <input name="usernameCliente" placeholder="nombredeusuario" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">Ingrese su correo electronico de cliente.</div>
            </div>

            <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Contraseña</label>

            <input name="passwordCliente" placeholder="Ingrese su contraseña secreta" type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Ingresar</button>
        </form>
    </div>
</section>

<br><br>
<br>
<br><br>
<br>
<br>
<br>
{% endblock %}