{% extends 'proveedor/base-proveedor.html' %}

{% block content %}
    <!-- Add your profile content here -->
    <header class="bg-primary py-2">
        <div class="container px-1 px-lg-1 my-1">
            <div class="text-center text-white">
                {% if user.is_authenticated %}
                <h1 class="display-6 fw-bolder"> {{listaProveedores.nombre_proveedor}}</h1>
                {% else %}
                <h1 class="display-6 fw-bolder">Bienvenido</h1>
                {% endif %}
                <p class="lead fw-normal text-white-50 mb-0">Perfil</p>
            </div>
        </div>
    </header>

    <div class="container mt-4">
        <div class="row">
            <div class="col-md-3">
                <div class="card mb-4">
                    <div class="card-header bg-dark text-white">
                        <h5 class="card-title mb-0">Perfil</h5>
                    </div>
                    <div class="card-body">
                        <!-- Edit form -->
                        <form method="post" action="#">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="nombre_proveedor">Nombre de Proveedor:</label>
                                <input type="text" id="nombre_proveedor" name="nombre_proveedor" value="{{ listaProveedores.nombre_proveedor }}" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="fono_proveedor">Teléfono:</label>
                                <input type="text" id="fono_proveedor" name="fono_proveedor" value="{{ listaProveedores.fono_proveedor| floatformat }}" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="email">Email:</label>
                                <input type="email" id="email" name="email" value="{{ user.email }}" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="nombre">Nombre:</label>
                                <input type="text" id="nombre" name="nombre" value="{{ user.first_name }} {{ user.last_name }}" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="username">Nombre de usuario:</label>
                                <input type="text" id="username" name="username" value="{{ user.username }}" class="form-control" required>
                            </div>
                            <br>
                            <div class="">
                                <button type="submit" class="btn btn-secondary">Guardar Cambios</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card mb-4">
                    <div class="card-header bg-primary text-white">
                        <h5 class="card-title mb-0">Publicaciones</h5>
                    </div>
                    <div class="card-body">
                        
                        <p><strong>Cantidad:</strong> <span class="float-end">{{ listaPlatos.count }}</span></p>
                        <p><strong>Activas:</strong> <span class="float-end">{{ cuentaPlatos }}</span></p>
                        <p><strong>En oferta:</strong> <span class="float-end">{{ cuentaOferta }}</span></p>
                        
                        <a href="{% url 'publicaciones' %}" class="btn btn-secondary">Ver Publicaciones</a>
                        
                    </div>
                </div>

                <div class="card mb-4">
                    <div class="card-header bg-danger text-white">
                        <h5 class="card-title mb-0">Ventas</h5>
                    </div>
                    <div class="card-body">
                        
                        <p><strong>Cantidad:</strong> <span class="float-end">{{ listaPlatos.count }}</span></p>
                        <p><strong>Activas:</strong> <span class="float-end">{{ cuentaPlatos }}</span></p>
                        <p><strong>En oferta:</strong> <span class="float-end">{{ cuentaOferta }}</span></p>
                        
                        <a href="{% url 'publicaciones' %}" class="btn btn-secondary">Analisis de ventas</a>
                        
                    </div>
                </div>
            </div>
            
            <div class="col-md-7">
                <!-- ESTADO DE PEDIDOS -->
                
                
                    <div class="card mb-8">
                        <div class="card-header bg-success text-white">
                            <h5 class="card-title mb-0">Estado de Pedidos</h5>
                        </div>
                        <div class="card-body">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Estado</th>
                                        <th>Fecha de Pedido</th>
                                        <th>Fecha de Entrega</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for pedido in pedidos %}
                                    <tr>
                                        <td>{{ pedido.estado }}</td>
                                        <td>{{ pedido.fecha_pedido }}</td>
                                        <td>{{ pedido.fecha_entrega }}</td>
                                        <td>{{ pedido.total }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        </div>
                    </div>
                                
            </div>
        </div>
    </div>
    <br><br><br><br><br><br><br>
{% endblock %}