*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

h1{font-size: 3.5em;}
h2{font-size: 2.7em;}
h3{font-size: 2em;}
p{font-size: 1.25em;}
ul{list-style: none;}
li{font-family: 1.25em;}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
#contacto-estilo{
    padding-bottom: 200px;
}


button{
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 10px;
    border: 2px solid rgba(0,0,0,0.5);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: white;
    background-color: red;
}

button:hover{
    background-color: rgb(204, 2, 2);
}

.container{
    max-width: 1400px;
    margin: auto;
}

.color-acento{ color: red;}

header{
    background-color: rgb(245,245,245);
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover{
    color: red;
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: white;
    background-image: linear-gradient(
        0deg, 
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ) 
    ,url("img/head-mascotas.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#somos-mascotas .container{
    text-align: center;
    padding: 100px 12px;

}

#nuestras-sucursales{
    background-color: rgb(251,109,79);
    color: white;
    text-align: center;
}

#nuestras-sucursales .container{
    padding: 5% 12px;
}
#nuestras-sucursales h2{
    margin-top: 0;
    font-size: 3em;
}

#nuestras-sucursales p{
    display: none;

}

#nuestras-sucursales .carta{
    background-position: center center;
    background-size: cover;
    padding: 50px 0px;
    margin: 30px;
    border-radius: 15px;
}

.carta:first-child{
    background-image: linear-gradient(
        0deg, 
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ) 
    ,url("img/tienda-maipu.jpg");
    
}

.carta:nth-child(2){
    background-image: linear-gradient(
        0deg, 
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ) 
    ,url("img/tienda-puente.jpg");
}

.carta:last-child{
    background-image: linear-gradient(
        0deg, 
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ) 
    ,url("img/tienda-santiago.jpg");
}

#final{
    display: flex;
    flex-direction: column;
    justify-content:  center;
    align-items: center;
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    height: 80vh;
}

#final h2{
    font-size: 9vw;
}

#final button{
    font-size: 5vw;
}

footer{
    background-color: rgb (230,230,230);

}
footer p{
    margin: 0;
    color: rgb(100,100,100);
    padding: 12px;
}

footer .container{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

@media (min-width: 720px){
    header{
        position: fixed;
        width: 100%;

    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    #somos-mascotas .container{
        display: flex;
        justify-content: center;
    }

    #somos-mascotas .texto{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #somos-mascotas h2{
        margin-top: 0px;
    }

    #somos-mascotas .img-container{
        background-image: url("img/somos-trabajadores.jpg");
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 400px;
    }

    #nuestras-sucursales .sucursales{
        display: flex;
        justify-content: center;
    }

    #nuestras-sucursales p{
        display: block;
        margin-bottom: 30px;
    }

    #nuestras-sucursales h2{
        font-size: 4em;
    }

    #nuestras-sucursales h3{
        margin-top: 0;
    }

    #nuestras-sucursales .carta{
        padding: 50px;
        background-size: 100% 150px;
        background-repeat: no-repeat;
        background-position-y: 0;
        background-color: rgb(226, 138, 112);
        box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    }

    .carta:first-child{
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("img/tienda-maipu.jpg");

    }

    .carta:nth-child(2){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("img/tienda-puente.jpg");
    }

    .carta:nth-child(3){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("img/tienda-santiago.jpg");

    }
    #final{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        height: 80vh;
    }
    
    #final h2{
        font-size: 5em;
    }
    
    #final button{
        font-size: 2em;
    }
    
    footer{
        background-color: rgb(230,230,230);
        bottom: 0;
        text-align: center; /* Centra el texto del pie de página */
    }
    
    footer p{
        margin: 0;
        padding: 12px;
        color: rgb(100,100,100);
    }
    
    footer .container{
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
}


.container-items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
    gap: 20px; 
    justify-content: center; 
    padding: 2rem 0; 
    max-width: 1200px; 
    margin: 0 auto; 
}

/* Estilos para el: item */  
.item {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
    transition: transform 0.3s ease; 
}

.item:hover {
    transform: translateY(-5px); 
}

.item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.5s;
}

.item:hover img {
    transform: scale(1.1);
}

#productos h2{
    font-size: 4em;
    display: flex;
    justify-content: center;
    text-align: center;
}

#productos button{
    border-radius: 10px;
}

#carouselExampleControls {
    width: 80%; 
    margin: auto;
    margin-top: 100px;
}

.carousel-item img {
    border-radius: 10px; 
}


.carousel-control-prev,
.carousel-control-next {
    background-color: white; 
    color: black; 
}


.carousel-control-prev:hover,
.carousel-control-next:hover {
    background-color: #e9ecef57; 
}

header {
    position: fixed;
    width: 100%;
    z-index: 1000; 
    background-color: rgba(245, 245, 245, 0.9); 
}

#medicina .container{
    display: flex;
    justify-content: center;
}

#medicina .texto{
    width: 50%;
    max-width: 600px;
    text-align: initial;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#medicina h2{
    margin-top: 0px;
}

#medicina button{
    border-radius: 10px;
}

#medicina .img-container{
    background-image: url("img/medicamentos-icon.jpg");
    background-size: cover;
    background-position: center center;
    height: 300px;
    width: 300px;
    box-shadow: 0 8px 8px 8px  rgba(0,0,0,0.1);
}

#jugueteria .container{
    display: flex;
    justify-content: center;
}

#jugueteria .texto{
    width: 50%;
    max-width: 600px;
    text-align: initial;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#jugueteria h2{
    margin-top: 0px;
}

#jugueteria button{
    border-radius: 10px;
}

#jugueteria .img-container{
    background-image: url("img/jugueteria-icon.jpg");
    background-size: cover;
    background-position: center center;
    height: 300px;
    width: 300px;
    box-shadow: 0 8px 8px 8px  rgba(0,0,0,0.1);
}

#alimentos .container{
    display: flex;
    justify-content: center;
}

#alimentos .texto{
    width: 50%;
    max-width: 600px;
    text-align: initial;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#alimentos h2{
    margin-top: 0px;
}

#alimentos button{
    border-radius: 10px;
}

#alimentos .img-container{
    background-image: url("img/alimentos-icon.jpg");
    background-size: cover;
    background-position: center center;
    height: 300px;
    width: 300px;
    box-shadow: 0 8px 8px 8px  rgba(0,0,0,0.1);
}

#categorias h2{
    font-size: 4em;
    display: flex;
    justify-content: center;
    text-align: center;
}

#medicina-side h2{
    font-size: 4em;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: auto;

}

#medicina-side button{
    border-radius: 10px;
}

#alimentos-side h2{
    font-size: 4em;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: auto;
}

#alimentos-side button{
    border-radius: 10px;
}

#jugueteria-side h2{
    font-size: 4em;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: auto;
}

#jugueteria-side button{
    border-radius: 10px;
}

#contacto {
    width: 50%;
    max-width: 600px; 
    margin: auto; 
}


#contacto h2 {
    padding-top: 140px;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px; 
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    resize: vertical;
}

button[type="submit"] {
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    color: white;
    background-color: red;
    margin: auto;
    display: block;
    
}

button[type="submit"]:hover {
    background-color: rgb(204, 2, 2);
}



/* Aquí vamos */

  #nath-adulto .container{
    display: flex;
    justify-content: center;
}

#nath-adulto .texto{
    width: 50%;
    max-width: 600px;
    text-align: initial;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#nath-adulto h2{
    margin-top: 130px;
    margin-bottom: 50px;
}

#nath-adulto button{
    border-radius: 10px;
}

#nath-adulto .img-container{
    background-image: url("img/comida-uno.jpg");
    background-size: cover;
    background-position: center center;
    height: 300px;
    width: 300px;
    box-shadow: 0 8px 8px 8px  rgba(0,0,0,0.1);
    margin-top: 160px;
}
  
/* Ahora aquí*/

#hills-canine .container{
    display: flex;
    justify-content: center;
}

#hills-canine .texto{
    width: 50%;
    max-width: 600px;
    text-align: initial;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#hills-canine h2{
    margin-top: 130px;
    margin-bottom: 50px;
}

#hills-canine button{
    border-radius: 10px;
}

#hills-canine .img-container{
    background-image: url("img/comida-tres.jpg");
    background-size: cover;
    background-position: center center;
    height: 300px;
    width: 300px;
    box-shadow: 0 8px 8px 8px  rgba(0,0,0,0.1);
    margin-top: 160px;
}

/* Y por fin aquí*/

#bravery-adulto .container{
    display: flex;
    justify-content: center;
}

#bravery-adulto .texto{
    width: 50%;
    max-width: 600px;
    text-align: initial;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#bravery-adulto h2{
    margin-top: 130px;
    margin-bottom: 50px;
}

#bravery-adulto button{
    border-radius: 10px;
}

#bravery-adulto .img-container{
    background-image: url("img/comida-dos.jpg");
    background-size: cover;
    background-position: center center;
    height: 300px;
    width: 300px;
    box-shadow: 0 8px 8px 8px  rgba(0,0,0,0.1);
    margin-top: 160px;
}

#sucursales .container{
    display: flex;
    justify-content: center;
}

#sucursales .texto{
    width: 50%;
    max-width: 600px;
    text-align: initial;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#sucursales h2{
    margin-top: 0px;
}

#sucursales button{
    border-radius: 10px;
}

#sucursales-side h2{
    font-size: 4em;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: auto;
}

#sucursales-side button{
    border-radius: 10px;
}

#map {
    margin-top: 30px;
    height: 600px;
    width: 600px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
