.error{
    color: red;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0;
    padding-bottom: 0;
    
}

.input-control{
    display: flex;
    flex-direction: column;
}

.input-control input{
    border: 2px solid #f0f0f0;
    border-radius: 5px;
    display: block;
    padding: 10px;
    width: 100%;
}

.input-control input:focus{
    outline: 0;
    
}

.input-control.success input{
    border-color: green;
}

.input-control.error input{
    border-color: red;
    height: 1rem;
}

.input-control.error {
    color: red;
    font-size: 8px;
}


/* estilo de error sin distorcion */
/*formulario*/
.error-message{
    color: red;
    height: 0.001rem;
    

}

#error-message{
    color: red;
    height: 0.1rem;
    
    
}

.separador{
    padding-bottom: 28px;
    
    
}