{% extends "alumnos/index.html" %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ALUMNO ADD</title>
</head>
<body>

    {% block container %}
    <h1>Alumno ADD</h1>
    <br>
    <button type="button">
        <a href="{% url 'alumnosAdd' %}">Add alumno</a>
    </button>
    <br>

    <div style="text-align: center">    
        <h2>Formulario de CRUD de alumnos</h2><br>
        <form action="alumnosAdd" method="POST">
            <!--token de seguridad obligatorio para el traslado de datos-->
            {% csrf_token %}
            <pre>Rut                <input type="text" name="rut" ></pre>

            <pre>Nombre             <input type="text" name="nombre" ></pre>

            <pre>Apellido Paterno   <input type="text" name="paterno" ></pre>

            <pre>Apellido Materno   <input type="text" name="materno" ></pre>
            
            <pre>Fecha Nacimiento   <input type="date" name="fechNac" ></pre>

            <pre>Genero:            <select name="genero" ><!--AQUI SE GENERA UN DROP DOWN LISTANDO TODOS LOS GENEROS DISPONIBLES-->
                {% for genero in listaGeneros %}
                    <option value="{{genero.id_genero}}">{{genero.genero}}</option>
                {% endfor %}
                </select>
            </pre>

            <pre>Celular            <input type="text" name="telefono" ></pre>

            <pre>Email              <input type="mail" name="email" ></pre>

            <pre>Direccion          <input type="text" name="direccion" ></pre>

            <input type="submit" value="Agregar">
            
        </form><br><br>

        <a href="{% url 'crud' %}">Volver</a>
        <br>

        <div id="idMensajes"><!--ESTE DIV SE UTILIZA PARA MOSTRAR MENSAJES DE ERROR O EXITO MEDIANTE EL id="idMensajes"-->
            {% if mensaje %}
                {{mensaje}}
            {% endif %}
        </div>    
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script> //<!--ESTE SCRIPT SE UTILIZA PARA OCULTAR EL DIV DE MENSAJES DE ERROR O EXITO-->
        $(document).ready(function(){
            $('#idMensajes').delay(3000).fadeOut("slow");
        }); 
    </script>

    {% endblock %}
</body>
</html>