
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My primera chamba</title>
    <style>
        table, th, td, tr{
          border: 2px solid black;
          margin: 0 auto;
        }
    </style>
</head>
<body>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">

    <header>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="{% url 'index' %}">ALUMNOS</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'crud' %}">ALUMNOS LIST</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'alumnosAdd' %}">ALUMNOS ADD</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'listadoSQL' %}">LISTADO SQL</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="listaGeneros">LISTADO GENERO</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    {% block container %} 
    <h1>AQUI SE LISTAN LOS ALUMNOS DEMO1</h1>
    <br>
    {% for alumno in alumnos %} <!--  se recorre la lista de alumnos -->
    <!--  si una etiqueta %% no existe va a imprimir una , indicando nula impresion -->
    {{alumno.rut}}, {{alumno.nombre}},{{alumno.apellido_paterno}}, {{alumno.apellido_materno}} , {{alumno.id_genero.genero}}
   
    <br>

    {% endfor %}
    
    {% endblock %}
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</body>
</html>