<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My primera chamba</title>
</head>
<body>

    <h1>Esto es un H1</h1>
    <br>

    <!--  si una etiqueta %% no existe va a imprimir una , indicando nula impresion -->
    <tb>
        {% for genero in generos %} 

        <tr>
            <th>ID</th>
            <th>Nombre</th>

            <td>{{genero.id_genero}}</td>
            <td>{{genero.genero}}</td>

        </tr>
            
        {% endfor %}
    </tb>
    <br>

</body>
</html>