{%  extends "usuarios/main.html"  %}
{% load static %}

<!-- extension de la pagina main donde se encuentra el navbar -->

<!-- bloque de contenido para heredar lo que se encuentra dentro del block es propio de catalogo.html-->
{% block container  %}
<h1> Menu proveedor</h1>
<p> aqui deberian mostrarse las publicaciones </p>

<!-- CRUD for publicaciones -->
<div class="container">
    <h2>Gestion de publicaciones</h2>
    <a href="{% url 'registrarPlato' %}" class="btn btn-primary">Crear Publicación</a>
    <table class="table">
        <thead>
            <tr>
                <th>Categoria</th>
                <th>Publicacion </th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Precio</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            {% for plato in listaPlatos %}
            <tr>

                <td><p>{{ plato.id_categoria.nom_categoria }}</p><img src="{{ plato.foto_plato.url }}" alt="{{ plato.foto_plato.name }}" width="100"></td>
                <td><p>ID:{{ plato.id_plato }}</p><p>{{ plato.fecha_publicacion }}</p></td>
                <td><p>{{ plato.nom_plato }}</p></td>
                <td><p>{{ plato.descripcion_plato }}</p></td>
                <td><b><p>${{ plato.precio_plato|floatformat }}</p></b><p>${{ plato.oferta_plato|floatformat }}</p></td>
                <td >
                    
                    {% if plato.plato_activo %} 
                    <p style="color: green">Activo<p>
                    {% else %}
                    <p style="color: red">Pausado<p>
                    {% endif %}

                    {% if plato.descuento_activo  %} 
                    <p style="color: darkgreen">Oferta activa<p>
                    {% else %}
                    <p>Normal<p>
                    {% endif %}

                </td>
                
                <td >
                    
                    <td>
                        <form action="{% url 'pausarPlato' plato.id_plato %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn-secondary" style="display: block; width: 80px; margin-bottom: 2px;">
                                {% if plato.plato_activo %}
                                    Pausar
                                {% else %}
                                    Activar
                                {% endif %}
                            </button>
                        </form>

                        <a href="{% url 'editarPlato' plato.id_plato %}" class="btn btn-primary" style="display: block; width: 80px; margin-bottom: 2px;">Editar</a>

                        <a href="{% url 'eliminarPlato' plato.id_plato %}" class="btn btn-danger" style="display: block; width: 80px; margin-right: 2px;">Eliminar</a>
                    </td>
                    
                </td>
            </tr>
            
            {% empty %}
            <tr>
                <td colspan="4">No hay publicaciones disponibles.</td>
            </tr>
            {% endfor %}

            <div id="idMensajes"><!--ESTE DIV SE UTILIZA PARA MOSTRAR MENSAJES DE ERROR O EXITO MEDIANTE EL id="idMensajes"-->
                {% if mensaje %}
                    {{mensaje}}
                {% endif %}
            </div>  
        </tbody>
    </table>
    <br>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script> //<!--ESTE SCRIPT SE UTILIZA PARA OCULTAR EL DIV DE MENSAJES DE ERROR O EXITO-->
    $(document).ready(function(){
        $('#idMensajes').delay(3000).fadeOut("slow");
    }); 
</script>
    
{% endblock %}

{% block extra_head %}
<style>
    button[type="submit"] {
        font-size: 1rem;
        font-weight: 400;
        padding: 0.375rem 0.75rem;
        border-radius: 0.25rem;
        border: 1px solid #ced4da;
        color: #212529;
        background-color: #f8f9fa;
        margin: auto;
        display: block;
    }
</style>
{% endblock %}
