{%  extends "usuarios/main.html"  %}

<!-- extension de la pagina main donde se encuentra el navbar -->

<!-- bloque de contenido para heredar lo que se encuentra dentro del block es propio de catalogo.html-->
{% block container  %}
<h1> Menu proveedor</h1>
<p> aqui deberian mostrarse las publicaciones </p>

<!-- CRUD for publicaciones -->
<div class="container">
    <h2>Publicaciones</h2>
    <a href="{% url 'registroPlato' %}" class="btn btn-primary">Crear Publicación</a>
    <table class="table">
        <thead>
            <tr>
                <th>ID Plato</th>
                <th>Plato</th>
                <th>Descripción</th>
                <th>Precio</th>
                <th>Precio oferta</th>
                <th>Imagen</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for plato in listaPlatos %}
            <tr>
                <td><p>{{ plato.id_plato }}</p></td>
                <td><p>{{ plato.nom_plato }}</p></td>
                <td><p>{{ plato.descripcion_plato }}</p></td>
                <td><p>${{ plato.precio_plato|floatformat }}</p></td>
                <td><p>${{ plato.oferta_plato|floatformat }}</p></td>
                <td><img src="{{ plato.foto_plato.url }}" alt="{{ plato.foto_plato.name }}" width="100"></td>
                <td>
                    <a href="% url 'editar_publicacion' publicacion.id %}" class="btn btn-primary">Editar</a>
                    <a href="% url 'eliminar_publicacion' publicacion.id %}" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">No hay publicaciones disponibles.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>

    <h2>Publicaciones v2 PROVEEDOR</h2>
    <a href="{% url 'registroPlato' %}" class="btn btn-primary">Crear Publicación</a>
    <table class="table">
        <thead>
            <tr>
                <th>ID Publicacion</th>
                <th>Plato</th>
                <th>Descripción</th>
                <th>Precio</th>
                <th>Precio oferta</th>
                <th>Imagen</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for prov in listaProveedor %}
            <tr>
                <td><p>{{ prov.id_publicacion.nom_plato }}</p></td>
                <td><p>{{ plato.nom_plato }}</p></td>
                <td><p>{{ plato.descripcion_plato }}</p></td>
                <td><img src="{{ prov.foto_plato.url }}" alt="{{ prov.foto_plato.name }}" width="100"></td>
                <td><p>${{ plato.precio_plato|floatformat }}</p></td>
                <td><p>${{ plato.oferta_plato|floatformat }}</p></td>
                <td>
                    <a href="% url 'editar_publicacion' publicacion.id %}" class="btn btn-primary">Editar</a>
                    <a href="% url 'eliminar_publicacion' publicacion.id %}" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">No hay publicaciones disponibles.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

    
{% endblock %}
