{%  extends "paginas/main.html"  %}
<!-- extension de la pagina main donde se encuentra el navbar -->

<!-- bloque de contenido para heredar lo que se encuentra dentro del block es propio de catalogo.html-->

{% block container %}
<h1> lista de platos </h1>

{% for plato in platos %}
    
    <div class="container">
        <div class="row justify-content-center">
          <!-- Primer producto -->
          <div class="col-lg-4 mb-4" >
            <div class="container-items">
              <div class="item" style="width: 25rem; height: 38rem;">
                <div class="item-image">
                  <figure>
                    <img src="/media/{{ plato.foto_plato }}" alt="imagen del plato" width="300">
                  </figure>
                </div>
                <div class="item-description">
                  <h3>{{ plato.id_categoria.nom_categoria }}</h3>
                  <span id="info">{{ plato.desc_plato}}</span>
                  <p class="precio-item">{{ plato.precio_plato}}</p>
                  <a href="clavubactin.html"></a>
                  <button class="btn-add-cart">Añadir al carro</button>
                </div>
              </div>
            </div>
          </div>
{% endfor %}


{% endblock %}